body{
    background-color:#EEEEEE;
}

#h1{
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 2em;
    background-color: darkturquoise;
    padding: 5px;
    margin-top: 0px;
}
#header{
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 2em;
    background-color: darkturquoise;
    padding: 5px;
    margin-top: 0px ;
   
 
}

 /* 1 doubt --- >  remove space between two div
 2 doubt --- >  how to set footer div in bottom  */

.link{
    list-style-type: none;
    float: left;
   
}

ul li a{
    text-decoration: none;
    color: darkviolet;
    padding-left: 40px;


}
ul{
    padding: 10px;
    
}

#footer{
   border: 1px solid black;
   width: 100%;
   height: 50px;
   text-align: center;
   font-size: 30px;
   font-weight: 2em;
   background-color: darkturquoise;
   padding: 5px;
  
}